@page
@model UserPermissionLicensesTask.Pages.license.CreateModel
@{
}

<h2>Create New License</h2>

@if (Model.Message1 != null)
{
    <h4 class="alert alert-danger">@Model.Message1</h4>
}
<form method="post">

    <label asp-for="@Model.license.user_ID.ID">User_Name:</label><br />
    <select asp-for="@Model.license.user_ID.ID" asp-items="@(new SelectList(Model.AllUsers,"ID","F_Name"))">
    </select>
    <br />
    <label asp-for="@Model.license.per_ID.ID">Permission_Title:</label><br />
    <select asp-for="@Model.license.per_ID.ID" asp-items="@(new SelectList(Model.AllPermissions,"ID","Permission_Title"))">
    </select>
    <br /><br />
    <a class="btn btn-default" asp-page="showlicenses">Bake To List</a>
    <input type="submit" value="Create">
</form>
